.form__item  {
// display: flex;
// flex-direction: column-reverse;
position: relative;

    input {
    width: 330px;
    height: 30px;
    margin: 0 0 20px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    }
    textarea {
        width: 350px;
        height: 100px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid #ccc;
    }
    .label {
        // display: block;
        position: absolute;
        left: 0;
        color: #aaa;
        transition: .3s;
    }
    .form__input:focus + .label, input:not(:placeholder-shown) + label {
        transform: translateY(-1.3em);
        font-size: 14px;
    }
}



.form__submit {
    font-size: 10px;
    color: #1E58FF;
    text-decoration: none;
    margin: 15px 0 15px 0;
    padding: 7px 12px;
    font-weight: 500;
    background: none;
    border: 2px solid #1E58FF;
    cursor: pointer;
    transition: .3s;
}
.form__submit:hover {
    background-color: #1E58FF;
    color: white;
}