.form__wrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.form__wrapper h2 {
    color: #1E58FF;
}

.form__item input {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.form__item textarea {
    width: 300px;
    height: 100px;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.form__submit {
    font-size: 10px;
    color: #1E58FF;
    text-decoration: none;
    margin-top: 15px;
    padding: 7px 12px;
    font-weight: 500;
    background: none;
    border: 2px solid #1E58FF;
    cursor: pointer;
    transition: .3s;
}

.form__submit:hover {
    background-color: #1E58FF;
    color: white;
}
