.wrapper {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60vh;
    height: 70vh;
    box-shadow: 0 10px 40px -15px rgba(#818181, .5);
    position: fixed;
    display: flex;
    justify-content: center;
}